*{margin:0px; padding:0px}
a{text-decoration: none; color: inherit}
ul{list-style: none;}
body{font-family: 'Open Sans', sans-serif; padding:15px}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track - Background */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9d86f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/*  */

h1{
  background:#623cea;
  color:#fff;
  padding: 16px;
  text-transform: uppercase;
  font-size: 22px;
}
#order-lists{height: calc(100vh - 110px); overflow-y: scroll;}
ul.book-list li{
  padding: 0px 25px;
  line-height: 25px; 
  font-size: 12px;
  /* font-weight: bold; */
  background-color: #fff;
  display: flex;
  border:1px solid #fbfbfb;
  cursor: pointer; 
}
ul.book-list li:nth-child(odd){background-color: #fbfbfd; }
ul.book-list li:hover{font-weight: bold;background-color: #ece7ff;}
#buy-book li{color:#e22943}
#sell-book li{color:#45bd9d}
.order-data-cell{width: 33.3%;}
.order-data-cell.alt-color{color:#777}
#last-traded{
  background-color: #ffffff;
  color: #623cea;
  padding: 25px;
  font-weight: bold;
  border: 10px solid #fbfbfd;
}